{% extends 'base.html' %}
{% from "helper/form-render.html" import render_field %}
{% block header %}
  <h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="flex justify-center items-center">
    <div class="bg-white p-6 rounded-lg shadow-lg w-80">
        <form action="{{ url_for('api_login') }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {{ render_field(form.login, errorValues[0]) }}
            {{ render_field(form.password, errorValues[1]) }}
            <div class="mt-8">
                <button type="submit" class="w-full p-2 bg-pink-600 text-white rounded-lg">Login</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}